<h1>Listing flats</h1>

<table>
  <thead>
    <tr>
      <th>Floor</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.floor_id %></td>
        <td><%= flat.name %></td>
        <td><%= link_to 'Show', floor_flat_path(@floor, flat) %></td>
        <td><%= link_to 'Edit', edit_floor_flat_path(@floor, flat) %></td>
        <td><%= link_to 'Destroy', floor_flat_path(@floor, flat), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flat', new_floor_flat_path(@floor) %>
