<p id="notice"><%= notice %></p>

<p>
  <strong>Floor:</strong>
  <%= @flat.floor.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @flat.name %>
</p>

<%= link_to 'Edit', edit_floor_flat_path(@floor, @flat) %> |
<%= link_to 'Back', floor_flats_path(@floor) %>
